In [4]:
def am9():
    print("Good morning team")
am9()

Good morning team

In [5]:
def greet():
    print('Hello')
    print('Team')
    print('Good morning')
greet()

Hello
Team
Good morning

In [6]:
def greet():
    print('Hello')
    print('Team')
    print('Good morning')
greet()
greet()
greet()

Hello
Team
Good morning
Hello
Team
Good morning
Hello
Team
Good morning

In [7]:
def sum(x,y):
    c=x+y;
    print(c)
sum(2,3)

5

In [8]:
def sum(x,y):
    c=x+y;
    print(c)
sum(2,3,4,5,6,7)

TypeError: sum() takes 2 positional arguments but 6 were given

In [12]:
def add(a,b,c,d):
    z=a+b+c+d;
    print(z)
add(2,3,4,5)

14

In [15]:
def add(x,y):
    z=x+y;
    print(z)
add(2,3)
def greet():
   print("Hello World")
greet()

5
Hello World

In [17]:
def add(x,y):
    z=x+y;
    print(z)
add(8,3)
def greet():
   print("Hello World")
greet()
def sub(x,y):
    d=x-y;
    print(d)
sub(8,3)

11
Hello World
5

In [2]:
def add_sub(a,b):
    x=a+b;
    y=a-b;
    return x,y
add_sub(9,7)

(16, 2)

In [6]:
def add_sub(a,b):
    x=a+b;
    y=a-b;
    return x,y
result=add_sub(9,7)
print (result)

(16, 2)

In [ ]:
#FORMAL ARGUMENT & ACTUAL ARGUMENT

In [7]:
def person(name,age):
    print(name)
    print(age)
person('nit',23,24)

TypeError: person() takes 2 positional arguments but 3 were given

In [8]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',23)

nit
23

In [9]:
def person(name,age):
    print(name)
    print(age)
    
person(23,'nit')

23
nit

In [10]:
def person(name,age):
    print(name)
    print(age+1)
    
person(23,'nit')

23

TypeError: can only concatenate str (not "int") to str

In [11]:
def person(name,age1):
    print(name)
    print(age1+1)
    
person(age1=23, name='nit')

nit
24

In [13]:
def person(name,age1):
    print(name)
    print(age1+1)
    
person('nit',23)

nit
24

In [ ]:
#Loacl vs global

In [16]:
def sum(a,b):
    c=a+b;
    return c
sum(6,8)

14

In [17]:
def sum(a,b):
    c=a+b;
    return c
sum(6,8,9,20,30)

TypeError: sum() takes 2 positional arguments but 5 were given

In [19]:
def sum(a,*b):
    x=a+b;
    return x
sum(10,20,30,40,50,60,70,80)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [21]:
def sum(a,*b):
   # x=a+b;
   # return x
    print(type(a))
    print(type(b))
          
sum(15,25,35,45,55,65,75)

<class 'int'>
<class 'tuple'>

In [24]:
def sum(a,*b):
    c=a;
    for i in b:
        c=c+i;
        print (c)
sum(12,13,14,15,16,17,18)

25
39
54
70
87
105

In [25]:
def sum(a,*b):
    c=a;
    for i in b:
        c=c+i;
    print (c)
sum(12,13,14,15,16,17,18)

105

In [ ]:
Positinal arguement and Keyword arguement

In [26]:
def person(name, *data):
    print(name)
    print(data)

person('ALEX', 36, 'JOHN', 987767)

ALEX
(36, 'JOHN', 987767)

In [27]:
def person(name,**data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767, edu = 'phd')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'edu': 'phd'}

In [ ]:
#global varaibe vs local variable

In [29]:
a = 10   

def something():
    b = 15 
    print('in function',b)    
    print('out function',a)

In [31]:
a = 10   

def something():
    b = 15 
    print('in function',b)    
print('out function',a)

out function 10

In [32]:
a = 10   

def something():
    b = 15 
    print('in function',a)    
print('out function',a)

out function 10

In [33]:
a = 10   

def something():
    b = 15 
print('in function',a)    
print('out function',a)

in function 10
out function 10

In [34]:
a = 10  

def something():
    b = 15
    print('in function',b)
    
something()
    
print('out function',a)

in function 15
out function 10

In [35]:
a = 10  

def something():
    global a 
    b = 15
    print('in function',b)
    print('gloabl variable', a)
something()
print('out function',a)

in function 15
gloabl variable 10
out function 10

In [36]:
x = 10  

def update_x():
    global x  
    x += 5  
   
update_x()
print(x)

15

In [38]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [39]:
def count(lst):
    

lst = [1,2,3,4,8,9,10]
lst

IndentationError: expected an indented block after function definition on line 1 (1519514642.py, line 4)