In [13]:
import pandas as pd

In [14]:
ratings = pd.read_csv(r'D:\Kaggle\rating.csv')

In [16]:
ratings.shape

(20000263, 4)

#Kaggle task for data

https://www.kaggle.com/code/harunshimanto/pandas-with-data-science-ai

In [ ]:
import pandas as pd #import libraries

In [18]:
ratings.head(2)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16

In [20]:
nums=[12,18,2,26,15]
for num in nums:
     if num%5==0:
         print(num)
         break
else:
    print("Number not found")

15

In [21]:
print(ratings.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [29]:
del ratings['rating']

In [25]:
# Check if 'timestamp' column exists before trying to delete it
if 'timestamp' in ratings.columns:
    del ratings['timestamp']
else:
    print("Column 'timestamp' does not exist in the DataFrame")
    
print(ratings.columns)

Column 'timestamp' does not exist in the DataFrame
Index(['userId', 'movieId', 'rating'], dtype='object')

In [31]:
ratings.head

<bound method NDFrame.head of           userId  movieId
0              1        2
1              1       29
2              1       32
3              1       47
4              1       50
...          ...      ...
20000258  138493    68954
20000259  138493    69526
20000260  138493    69644
20000261  138493    70286
20000262  138493    71619

[20000263 rows x 2 columns]>

In [33]:
ratings.iloc[5]#iloc-Integer locations

userId       1
movieId    112
Name: 5, dtype: int64

In [37]:
row_0.index

Index(['A', 'B'], dtype='object')

# Assistant
The error occurs because you're trying to use a variable `row_0` that hasn't been defined yet in your code.

In Python, you need to define a variable before you can use it. The error message "NameError: name 'row_0' is not defined" indicates that Python doesn't recognize the variable `row_0` because it hasn't been created or assigned a value.

Would you like me to provide the corrected code?

In [35]:
# First, define the row_0 variable
# For example, if row_0 should be a pandas Series or DataFrame row:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Define row_0 as the first row of the DataFrame
row_0 = df.iloc[0]

# Now you can access the index
row_0.index

Index(['A', 'B'], dtype='object')