In [1]:
tup1=()#empty set
tup1

()

In [2]:
tup1=(10,20,30,40,50,60)
tup1

(10, 20, 30, 40, 50, 60)

In [3]:
tup2=(10,20,30,40,50,60)
tup2

(10, 20, 30, 40, 50, 60)

In [4]:
tup3=(10,20.3030403,-34,34%37,2*8,'Srava',{'Saha','Sarayu'},[50,11100] , (50,11100 ))
print (tup3)

(10, 20.3030403, -34, 34, 16, 'Srava', {'Saha', 'Sarayu'}, [50, 11100], (50, 11100))

In [5]:
len(tup3)

9

In [6]:
tup3[0][0]

TypeError: 'int' object is not subscriptable

# Assistant
The error occurs because you're trying to access an element within an integer, which is not possible since integers are not subscriptable (meaning you can't use indexing on them).

This suggests that `tup3[0]` is an integer, but you're trying to treat it as if it were a list, tuple, or other collection by using `[0]` on it.

Would you like me to provide a corrected version of the code?

In [ ]:
# The error occurs because tup3[0] is an integer, which can't be indexed
# To fix this, we need to make sure tup3[0] is a subscriptable object like a list or tuple

# Option 1: If you want tup3 to contain nested tuples/lists
tup3 = [([1, 2], 3), 4]  # Now tup3[0][0] will access [1, 2]
print(tup3[0][0])  # This will work

# Option 2: If you just want to access elements differently
tup3 = [1, 2, 3, 4]  # Simple list
print(tup3[0])  # Access the first element directly

In [ ]:
tup3

In [ ]:
tup3=(([10,20,30]),20.3030403,-34,34%37,2*8,'Srava',{'Saha','Sarayu'},[50,11100] , (50,11100 ))

In [ ]:
tup3[0][0]

# Assistant
The error occurs because you're trying to access an element within an integer, which is not possible. The error message "TypeError: 'int' object is not subscriptable" means that `tup3[0]` is an integer, and you cannot use indexing (the second `[0]`) on an integer.

This typically happens when you have a tuple where the first element is an integer rather than another sequence (like a list or tuple).

Would you like me to provide the corrected code?

In [ ]:
# Assuming tup3 is a tuple where you want to access a nested element
# Option 1: If you meant to have a nested tuple structure
tup3 = [(1, 2), (3, 4)]  # Example of a tuple containing tuples/lists
tup3[0][0]  # This will work and return 1

# Option 2: If you just want to access the first element
tup3 = (1, 2, 3)  # Example of a simple tuple
tup3[0]  # This will return 1

# Note: Without seeing the definition of tup3, I've provided two common solutions
# Choose the one that matches your intended data structure

In [ ]:
tup3=(([10,20,30]),20.3030403,-34,34%37,2*8,'Srava',{'Saha','Sarayu'},[50,11100] , (50,11100 ))
tup3

In [ ]:
tup3[:3]

In [ ]:
tup3[:-3]

In [ ]:
tup3[-4:]

In [ ]:
tup3[2:6]

In [ ]:
del tup3[0]

In [ ]:
tup3[0]=1

In [ ]:
tup3

In [ ]:
for i in tup3[3]:
print(i)

# Assistant
The error occurs because Python requires consistent indentation to define code blocks. In your code, the `print(i)` statement should be indented under the `for` loop.

Would you like me to provide the corrected code?

In [ ]:
for i in tup[3]:
    print(i)  # Indented this line to properly define the for loop block

# Assistant
The error occurs because you're trying to use a variable called `tup` that hasn't been defined yet. Before you can iterate through `tup[3]`, you need to create the tuple variable `tup`.

Would you like me to provide the corrected code?

In [ ]:
# Define the tuple first
tup = (1, 2, 3, [4, 5, 6], 7)  # Example tuple with a list at index 3

# Now iterate through the elements at index 3
for i in tup[3]:
    print(i)  # This will print 4, 5, 6 (the elements in the list at index 3)

In [ ]:
tup3=(([10,20,30]),20.3030403,-34,34%37,2*8,'Srava',{'Saha','Sarayu'},[50,11100] , (50,11100 ))
tup3

In [ ]:
for i in tup3:
print(i)

In [ ]:
for i in enumerate(tup3):
            print(i)

In [ ]:
tup3.count(34)

In [ ]:
if 'Srava' in tup3:
    print('Srava is present in tup3')
else:
    print('Srava is not  present in tup3')

In [ ]:
'Vijay' in tup3

In [ ]:
tup3.index([50, 11100])

In [ ]:
tup4=(10,20,30,40,50,60,70,80,90)
tup4

In [ ]:
sorted(tup4,reverse=True)

In [ ]:
set1={1,2,3,4,5,6,7,8,9}
set1
len(set1)

In [ ]:
set2={1,1,1,2,3,3,3,3,4,5,5,5,5,6,7,8,9}
set2

In [ ]:
myset={'one','two','three','four','five'}
for i in myset:
  print(i)

In [ ]:
for i in enumerate(myset):
  print(i)

In [ ]:
myset.add('six')
myset

In [ ]:
myset.update(['six','seven','eight','nine'])
myset

In [ ]:
myset.add('six')
myset

In [ ]:
myset={'one','two','three','four','five'}
myset

In [ ]:
myset.update(['six','seven','eight','nine'])
myset

In [ ]:
myset.remove('eight')
myset

# Assistant
This error occurs because you're trying to remove an element ('eight') that doesn't exist in the set called `myset`. The `remove()` method raises a KeyError when the element is not found in the set.

Would you like me to provide the corrected code?

# Assistant
This error occurs because you're trying to remove an element ('eight') that doesn't exist in the set called `myset`. The `remove()` method raises a KeyError when the element is not found in the set.

Would you like me to provide the corrected code?

In [ ]:
# Option 1: Use discard() instead of remove() to avoid errors when the element doesn't exist
myset.discard('eight')  # discard() doesn't raise an error if the element is not found
myset

# Option 2: Check if the element exists before removing it
if 'eight' in myset:
    myset.remove('eight')
myset

In [ ]:
myset={'one','two','three','four','five'}
myset
myset.discard('four')
myset

In [ ]:
myset={'one','two','three','four','five'}
myset
del myset
myset

In [ ]:
myset={'one','two','three','four','five'}
myset
myset.clear()
myset

In [ ]:
myset={'one','two','three','four','five'}
myset1=myset
myset1

In [ ]:
id(myset) , id(myset1)

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B

In [ ]:
A.union(B,C)

In [ ]:
A&B

In [ ]:
A.intersection(B)

In [ ]:
A-B

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A.difference(B)

In [ ]:
B-A

In [ ]:
A^B

In [ ]:
A.symmetric_difference(B)

In [ ]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [ ]:
B.issubset(A)

In [ ]:
A.issuperset(B)

In [ ]:
C.isdisjoint(A)

In [ ]:
A

In [ ]:
sum(A)

In [ ]:
max(A)

In [ ]:
min(A)

In [ ]:
len(A)

In [ ]:
list(enumerate(A))

In [ ]:
G=sorted(A,reverse=True)
G

In [ ]:
mydict={}
mydict

In [ ]:
mydict=dict()
mydict

In [ ]:
mydict={1:'one',2:'two',3:'three'}
mydict

In [ ]:
mydict=dict({1:'one',2:'two',3:'three'})
mydict

In [ ]:
mydict.keys()

In [ ]:
mydict.values()

In [ ]:
mydict.items()

In [ ]:
mydict={1:'one',2:'two','S':['three','four','five'],'G':['six','seven']}
mydict

In [ ]:
keys={'a','b','c','d'}
mydict3 = dict.fromkeys(keys)
mydict3

In [ ]:
keys={'a','b','c','d'}
values={11,2,3}
mydict3 = dict.fromkeys(keys,values)
mydict3

In [ ]:
values.add('5%')
mydict3

In [ ]:
mydict3['b']

In [ ]:
mydict3.get('d')

In [ ]:
mydict={1:'one',2:'two','S':['three','four','five'],'G':['six','seven']}
mydict

In [ ]:
mydict[2]='Three'
mydict['G']=['6','7']
mydict

In [ ]:
# First, define mydict if it doesn't exist yet
mydict = {}

# Add key-value pairs to the dictionary
mydict[2] = 'Three'

# If G is meant to be a string key, put it in quotes
mydict['G'] = ['6', '7']  # Using a proper list as the value
# OR if you meant G to be a variable, define it first:
# G = 'some_key'
# mydict[G] = ['6', '7']

mydict  # Display the dictionary

In [ ]:
mydict={'1':'one','2':'two','S':['three','four','five'],'G':['six','seven']}
mydict

In [ ]:
mydict.pop('G')
mydict

# Assistant
This error occurs because you're trying to remove a key (`1`) from a dictionary (`mydict`) that doesn't contain that key.

The `pop()` method removes the item with the specified key from a dictionary and returns its value. When the key doesn't exist in the dictionary, a KeyError is raised.

Would you like me to provide the corrected code?

In [ ]:
# First, create the dictionary if it doesn't exist
mydict = {}  # Replace with your actual dictionary if it exists

# Option 1: Check if the key exists before popping
if 1 in mydict:
    mydict.pop(1)
else:
    print("Key 1 does not exist in the dictionary")

# Option 2: Use pop with a default value to avoid KeyError
# mydict.pop(1, None)  # Returns None if key doesn't exist instead of raising error

mydict  # Display the dictionary

In [ ]:
# First, create the dictionary if it doesn't exist
mydict = {}  # Replace with your actual dictionary if it exists

# Option 1: Check if the key exists before popping
if 1 in mydict:
    mydict.pop(1)
else:
    print("Key 1 does not exist in the dictionary")

# Option 2: Use pop with a default value to avoid KeyError
# mydict.pop(1, None)  # Returns None if key doesn't exist instead of raising error

mydict  # Display the dictionary

In [ ]:
mydict.keys()

In [ ]:
mydict.pop('G')
mydict

#basic python

In [ ]:
'nit'+'nit'

In [ ]:
3*'nit'

In [ ]:
print('G:\nit')

In [ ]:
print(r'zb:adfvfbdbiod')

In [ ]:
x = 2
y = 3
x = x + y
y = x - y
print(x , y)

In [ ]:
# Fix: Separate variable assignments with proper syntax
x = 2  # Assign x separately
y = 3  # Assign y separately
x = x + y
y = x - y
print(x, y)

In [ ]:
x = 10
x

In [ ]:
x + y

In [ ]:
)y

In [ ]:
_ + y

In [ ]:
import numpy as np

In [ ]:
np.array([1,2,3,4,5])

In [ ]:
a=np.array([1,2,3,4,5])
type(a)

In [ ]:
new=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(new)

In [ ]:
np.array([12,34,56,78], dtype = float)

In [ ]:
np.array([12,34,56,78], dtype =bool)

In [ ]:
np.array([12,34,56,78], dtype =complex)

In [ ]:
np.arange(1,25)

In [ ]:
np.arange(10,30).reshape(5,4)

In [ ]:
np.ones((2,2))

In [ ]:
np.zeros((3,3))

In [ ]:
np.random.random((5,8))

In [ ]:
np.linspace(-12,12,4)

In [ ]:
np.identity((4))

In [ ]:
a1=np.arange(8)
a1

In [ ]:
a2=np.arange((12),dtype=float).reshape(3,4)
a2

In [ ]:
a3=np.arange(27).reshape(3,3,3)
a3

In [ ]:
a1.ndim

In [ ]:
a2.ndim

In [ ]:
a3.ndim

In [ ]:
a1.shape

In [ ]:
a2.shape

In [ ]:
a3.shape

In [ ]:
a2=np.arange((12),dtype=float).reshape(3,4)
a2

In [ ]:
a2.size

In [ ]:
a2.itemsize

In [ ]:
print(a1.dtype)
print(a2.dtype)
print(a3.dtype)

In [ ]:
x=np.array([12,45.67,89,0,0.34])
x

In [ ]:
x.astype(int)

In [ ]:
z1=np.arange(0,12).reshape(3,4)
z1

In [ ]:
z2=np.arange(12,24).reshape(3,4)
z2

In [ ]:
z1+2

In [ ]:
z2-4

In [ ]:
z1-4

In [ ]:
z1=np.arange(0,12).reshape(3,4)
z1

In [ ]:
z1*3

In [ ]:
z1**3

In [ ]:
z1%3

In [ ]:
z2>True

In [ ]:
z1+z2

In [ ]:
z1*z2

In [ ]:
z1%z2

In [ ]:
z1-z2

In [ ]:
p1=np.random.random((3,3))
p1=np.round(p1*200)
p1

In [ ]:
np.max(p1)

In [ ]:
np.min(p1)

In [ ]:
np.prod(p1)

In [ ]:
np.sum(p1)

In [ ]:
np.max(p1,axis=1)

In [ ]:
np.prod(p1,axis=1)

In [ ]:
p1

In [ ]:
np.mean(p1)

In [ ]:
np.median(p1)

In [ ]:
np.median(p1,axis=0)

In [ ]:
np.std(p1)

In [ ]:
np.var(p1)

In [ ]:
np.sin(p1)

In [ ]:
np.cos(p1)

In [ ]:
np.tan(p1)

In [ ]:
s2 = np.arange(12).reshape(3,4)
s3 = np.arange(12,24).reshape(4,3)
np.dot(s2,s3)

In [ ]:
np.exp(s2)

In [ ]:
p1 = np.arange(10)
p2 = np.arange(12).reshape(3,4)
p3 = np.arange(8).reshape(2,2,2)

In [ ]:
p1[0]

In [ ]:
p1[-1]

In [ ]:
p2[1,2]

In [ ]:
p3[1,0,1]

In [ ]:
p3[0,1,0]

In [ ]:
p3 = np.arange(8).reshape(2,2,2)
p3

In [ ]:
p3[0,0,0]

In [ ]:
p2

In [ ]:
p2[2, :]

In [ ]:
p2 = np.arange(12).reshape(3,4)
p2

In [ ]:
p2[1:3]

In [ ]:
p2

In [ ]:
p2[::2,::3]

In [ ]:
p2[::2,1::2]

In [ ]:
p3=np.arange(27).reshape(3,3,3)
p3

In [ ]:
p3[1]

In [ ]:
p3[0,1,:]

In [ ]:
p1

In [ ]:
for i in p1:
    print(i)

In [ ]:
p2

In [ ]:
np.transpose(p2)

In [ ]:
p2.T

In [ ]:
p3

In [ ]:
p3.T

In [ ]:
p2

In [ ]:
p2.ravel()

In [ ]:
w1 = np.arange(12).reshape(3,4)
w2 = np.arange(12,24).reshape(3,4)

In [ ]:
w1

In [ ]:
w2

In [ ]:
np.hstack((w1,w2))

In [ ]:
np.vstack((w1,w2))

In [ ]:
np.hsplit(w1,2)

In [ ]:
## Numpy Practice

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from PIL import Image

In [ ]:
feature_image=Image.open(r'D:\pics\pic.pil.jpg')
feature_image

In [ ]:
myimage=Image.open(r'D:\pics\spparow.jpg')
myimage

In [ ]:
print (type(feature_image))
print (type(myimage))

In [ ]:
fea_arr=np.asarray(feature_image)
fea_arr

In [ ]:
plt.imshow(fea_arr)
plt.show()

In [ ]:
fea_arr.shape

In [ ]:
my_arr=np.asarray(fea_arr)
my_arr

In [ ]:
plt.imshow(my_arr)
plt.show

In [ ]:
import numpy as np

#Seasons
Seasons = ["2015","2016","2017","2018","2019","2020","2021","2022","2023","2024"]
Sdict = {"2015":0,"2016":1,"2017":2,"2018":3,"2019":4,"2020":5,"2021":6,"2022":7,"2023":8,"2024":9}

#Players
Players = ["Sachin","Rahul","Smith","Sami","Pollard","Morris","Samson","Dhoni","Kohli","Sky"]
Pdict = {"Sachin":0,"Rahul":1,"Smith":2,"Sami":3,"Pollard":4,"Morris":5,"Samson":6,"Dhoni":7,"Kohli":8,"Sky":9}

#Salaries
Sachin_Salary = [15946875,17718750,19490625,21262500,23034375,24806250,25244493,27849149,30453805,23500000]
Rahul_Salary = [12000000,12744189,13488377,14232567,14976754,16324500,18038573,19752645,21466718,23180790]
Smith_Salary = [4621800,5828090,13041250,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
Sami_Salary = [3713640,4694041,13041250,14410581,15779912,17149243,18518574,19450000,22407474,22458000]
Pollard_Salary = [4493160,4806720,6061274,13758000,15202590,16647180,18091770,19536360,20513178,21436271]
Morris_Salary = [3348000,4235220,12455000,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
Samson_Salary = [3144240,3380160,3615960,4574189,13520500,14940153,16359805,17779458,18668431,20068563]
Dhoni_Salary = [0,0,4171200,4484040,4796880,6053663,15506632,16669630,17832627,18995624]
Kohli_Salary = [0,0,0,4822800,5184480,5546160,6993708,16402500,17632688,18862875]
Sky_Salary = [3031920,3841443,13041250,14410581,15779912,14200000,15691000,17182000,18673000,15000000]
#Matrix
Salary = np.array([Sachin_Salary, Rahul_Salary, Smith_Salary, Sami_Salary, Pollard_Salary, Morris_Salary, Samson_Salary, Dhoni_Salary, Kohli_Salary, Sky_Salary])

#Games 
Sachin_G = [80,77,82,82,73,82,58,78,6,35]
Rahul_G = [82,57,82,79,76,72,60,72,79,80]
Smith_G = [79,78,75,81,76,79,62,76,77,69]
Sami_G = [80,65,77,66,69,77,55,67,77,40]
Pollard_G = [82,82,82,79,82,78,54,76,71,41]
Morris_G = [70,69,67,77,70,77,57,74,79,44]
Samson_G = [78,64,80,78,45,80,60,70,62,82]
Dhoni_G = [35,35,80,74,82,78,66,81,81,27]
Kohli_G = [40,40,40,81,78,81,39,0,10,51]
Sky_G = [75,51,51,79,77,76,49,69,54,62]
#Matrix
Games = np.array([Sachin_G, Rahul_G, Smith_G, Sami_G, Pollard_G, Morris_G, Samson_G, Dhoni_G, Kohli_G, Sky_G])

#Points
Sachin_PTS = [2832,2430,2323,2201,1970,2078,1616,2133,83,782]
Rahul_PTS = [1653,1426,1779,1688,1619,1312,1129,1170,1245,1154]
Smith_PTS = [2478,2132,2250,2304,2258,2111,1683,2036,2089,1743]
Sami_PTS = [2122,1881,1978,1504,1943,1970,1245,1920,2112,966]
Pollard_PTS = [1292,1443,1695,1624,1503,1784,1113,1296,1297,646]
Morris_PTS = [1572,1561,1496,1746,1678,1438,1025,1232,1281,928]
Samson_PTS = [1258,1104,1684,1781,841,1268,1189,1186,1185,1564]
Dhoni_PTS = [903,903,1624,1871,2472,2161,1850,2280,2593,686]
Kohli_PTS = [597,597,597,1361,1619,2026,852,0,159,904]
Sky_PTS = [2040,1397,1254,2386,2045,1941,1082,1463,1028,1331]
#Matrix
Points = np.array([Sachin_PTS, Rahul_PTS, Smith_PTS, Sami_PTS, Pollard_PTS, Morris_PTS, Samson_PTS, Dhoni_PTS, Kohli_PTS, Sky_PTS])

In [ ]:
Salary

In [ ]:
Salary[0,6]

In [ ]:
Games

In [ ]:
Salary/Games

In [ ]:
np.round(Salary//Games)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
Salary[0]

In [ ]:
plt.plot(Salary[0])
plt.show

In [ ]:
plt.plot(Salary[0], ls = '--')

In [ ]:
plt.plot(Salary[0], ls = '--', color = 'black')

In [ ]:
plt.plot(Salary[0], ls = '--', color = 'green', marker = 's')

In [ ]:
import pandas as pd

In [ ]:
stats=pd.read_excel(r'D:\Srava-DS-rar files\data.xlsx')
stats

In [ ]:
len(stats)

In [ ]:
len(stats.columns)

In [ ]:
stats.isnull()

In [ ]:
stats.isnull().sum()

In [ ]:
stats.dtypes

In [ ]:
stats.info()

In [ ]:
type(stats)

In [ ]:
stats.head()

In [ ]:
stats.tail()

In [ ]:
stats.head(2)

In [ ]:
stats

In [ ]:
stats.columns

In [ ]:
stats[['BirthRate','InternetUsers']]

In [ ]:
stats_numeric_data=stats[['BirthRate','InternetUsers']]

In [ ]:
stats_numeric_data.head()

In [ ]:
stats_categorical_data=stats[['CountryName', 'CountryCode', 'IncomeGroup']]
stats_categorical_data

In [ ]:
print(stats.shape)
print(stats_numeric_data.shape)
print(stats_categorical_data.shape)

In [ ]:
stats[:]

In [ ]:
stats[:3]

In [ ]:
stats[3:]

In [ ]:
stats[3:10]

In [ ]:
stats[2:40:4]

In [ ]:
stats[::-2]

In [ ]:
stats

In [ ]:
stats.describe()

In [ ]:
stats['CountryName']

In [ ]:
stats[['CountryName','CountryCode','IncomeGroup']]

In [ ]:
df_stats=stats[['CountryName','CountryCode','IncomeGroup']]
df_stats

In [ ]:
print(len(stats.columns))
print(len(df_stats.columns))

In [ ]:
print((stats.columns))
print((df_stats.columns))

In [ ]:
df_stats.describe()

In [ ]:
df_num = stats[['BirthRate', 'InternetUsers']]
df_num

In [ ]:
df_num.describe().transpose()

In [ ]:
# How can you accept 'an integer as input from the user using `input()`?
num=input("Iam Integer")
num=int(input("Iam Integer:"))
num

In [ ]:
type(num)

In [ ]:
num=float(input("Enter a float:"))

In [ ]:
Text="Iam learning AIM Lcourse from NIT"
words=Text.split()
words

In [ ]:
### 5. **Question:** How do you check if a number entered by the user is positive,negative, or zero?
num=34
if num>0 :
  print("num:positive")
elif num<0 :
  print("num:negative")
else:
  print("num:zero")

In [ ]:
# 6. **Question:** How do you convert user input to a list of integers?
 nums = [int(x) for x in input("Enter numbers: ").split()]

In [ ]:
9# 6. **Question:** How do you convert user input to a list of integers?
nums = [int(x) for x in input("Enter numbers: ").split()]

In [ ]:
nums

In [ ]:
str="a produtive day with python"
str1=input(str.upper())
str1

In [ ]:
str2 ="a produtive day with python"
vowels="aeiou"
count=sum(1 for chr in str2 if chr.lower() in vowels)
print("Number of vowels:", count)

In [ ]:
#Even or odd
num=10.46
if num%2==0:
    print("num:even")
else :
     print("num:odd")

In [ ]:
### 10. **Question:** How would you check if a string is a palindrome using `input()`?
str5="nursesrun"
if str5==str5[::-1]:
 print("Palindrome")
else :
 print("Not a palindrome")

In [ ]:
num1=34
print("Sqr:", num1**2)

In [ ]:
num2=63
if num2%3==0 and num2%7==0:
    print("Yes")

else :
    print("No")

In [ ]:
values=input("fruits").split(',')
values

In [ ]:
#Write a program that checks if the input number is a prime number
num=31
if num>0:
    for i in range(2,num):
    if(num%i==0):
    print("Not a PrimeNumber")
    break
    else :
    print("PrimeNumber")
    else :
    print("Not a PrimeNumber")

In [ ]:
# Write a program that checks if the input number is a prime number
num = 31
if num > 0:
    for i in range(2, num):
        if (num % i == 0):
            print("Not a PrimeNumber")
            break
    else:  # This else belongs to the for loop, not the if statement
        print("PrimeNumber")
else:
    print("Not a PrimeNumber")

In [ ]:
str6="SRAVANTHI"
print("reverse:",str6[::-1])

In [ ]:
## Write a program that asks for a user's name and age and prints a message
name=input("What is your name?")
age=int(input("What is your age?"))
print(f"Hello,{name}.You are {age} years old now.")

In [ ]:
#Write a program to calculate the factorial of a number using `input()`.
num1=int(input("Enter number here:"))
factorial=1
for i in range(1,num1+1):
    factorial*=i
print("Factorial:",factorial)

In [ ]:
user_input=input("Enter a string:").strip()
if not user_input:
    print("user_input cnnot be empty")
else : 
    print(f"User-input:{user_input}")

In [10]:
import math
num6=int(input("Enter a square:"))
if math.isqrt(num6)**2==num6:
 print("square")
else:
   print("Not a square")

Enter a square: 64

square

In [12]:
leap_year=int(input("Enter year:"))
if (leap_year%4==0 and leap_year% 100 !=0 or leap_year%400==0):
              print("Leap Year")
else:
        print("Not a Leap Year")

Enter year: 1968

Leap Year

In [21]:
user_input=input("enter a string:").strip()
print({user_input})

enter a string:               srava

{'srava'}

In [25]:
text=input("Enter a string:")
char=input("Enter a char:")
print(f"Occurance of {char}:{text.count(char)}")

Enter a string: Hello world how are you
Enter a char: w

Occurance of w:2